/* style snackbar */

.snackbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #323232;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0;
    -webkit-transition: all 0.33333s ease-in-out;
}

.hide {
    display: none;
}

.show {
    display: block;
}